body {
  font-family: '微软雅黑';
  padding: 0;
  margin: 0;
  font-size: 14px;
}

div,img,nav,span,a,li,ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

a {
  color: #FFFFFF;
  text-decoration-line: none;
}