.footer {
  display: flex;
  justify-content: flex-start;
  color: #b3b3b3;
}

.footer a {
  color: #b3b3b3;
  text-decoration-line: underline;
}

.footer div {
  margin: 0px 5px;
}

.footer div:first-child{
  margin-left: 0;
}