.header {
  position: fixed;
  top: 0;
  left: 0;
}

.header .headerMain {
  background: url('/background-cover.jpg') top left no-repeat #666666;
  width: 100%;
  min-height: 100vh;
  background-size: cover;
  display: block;
  position: fixed;
  max-width: none;
  background-position: center center;
  position: relative;
}

.header .headerContent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #FFFFFF;
  text-align: center;
  z-index: 1;
}

.line100 {
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.14);
  margin: 0 auto;
}

.line50 {
  width: 50%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.14);
  margin: 0 auto;
}

.headerContent .title {
  font-size: 1.5em;
  letter-spacing: 4px;
}

.headerContent .desc {
  font-size: 1.2em;
  letter-spacing: 4px;
}

.overlay {
  display: block;
  position: absolute;
  z-index: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(68, 68, 68, 0.2);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(20%, rgba(68, 68, 68, 0.6)), color-stop(100%, rgba(0, 0, 0, 0.9)));
  background-image: -webkit-linear-gradient(-410deg, rgba(68, 68, 68, 0.6) 20%, rgba(0, 0, 0, 0.9));
  background-image: linear-gradient(140deg,rgba(68, 68, 68, 0.6) 20%, rgba(0, 0, 0, 0.9));
}

.headerContent nav {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  opacity: .8;
}

.headerContent nav .link {
  list-style: none;
  border: 1px solid #FFFFFF;
  padding: 0 15px;
  height: 38px;
  line-height: 38px;
  border-radius: 20px;
  margin-right: 8px;
  cursor: pointer;
  margin-bottom: 8px;
}

.headerContent nav .linkGithub {
  border: 1px solid #FFFFFF;
  width: 38px;
  height: 38px;
  border-radius: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.linkGithub a{
  width: 19px;
  height: 19px;
}

.linkGithub img {
  width: 100%;
}

